body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;

}

.navbar {
    height: 5rem;
    background-color: white;
}

.logo {
    display: flex;
}
.navbar .show {
    margin-top: 1rem;
    background-color:white !important;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;   
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
    /* color: #222222; */
}

.f-info-links,
.f-info-socials, .f-info-brand {
    width: 100%;
    display:  flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius:  1rem !important; 
    width: 100% !important;
    object-fit:  cover !important;
}

.card-body {
    padding: 0 !important;
}
.card-text {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none; 
}

.card-img-overlay {
    opacity: 0;
}

.img-title {
    display: flex;
}

.d-none {
    display: none;
}

.end {
    margin-left: auto;
}


.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.card-img-top {
    height: 500px;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

.line {
    border-bottom: 2px solid black;
    opacity: 0.7;

}



#filters {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: none;
}

.middle-line {
    border-top: 1.5px solid black;
    margin-top: 1rem;
    opacity: 0.2;
    
}




.filter {
    text-align: center;
    margin-right: 1.1rem;
    margin-top: 1.1rem;
    opacity: 0.7;
    text-decoration: none;
    color: black;
}

.filter:hover {
    opacity: 1;
    cursor: pointer;
}

.filter p {
    font-size: 0.8rem;
}

.tax-info {
    display: none;
}

.tax-taggle {
    border: 1px solid black;
    border-radius: 1rem;
    margin-top: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
}

@media (max-width:992px) {
    .tax-taggle {
        display: none;
    }
}

.calculate-price {
    display: flex;
}

.reserve-right {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
}

.calculate-btn, .reserve-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.booking-icon {
    font-size: 2rem;
    opacity: 0.7;
}

.booking-icon:hover {
    opacity: 1;
}

.card-line {
    line-height: 0.7rem;
}

.reserve-card {
    border: none !important;
    margin-top: 2rem !important;
}

.reserve-delete-btn {
    cursor: pointer !important;
}